[core]
	preloadindex = true
	editor = vim
	autocrlf = input
[includeIf "gitdir:~/"]
        path = ~/.gitconfig.personal
[includeIf "gitdir:~/projects/"]
        path = ~/.gitconfig.work
[push]
	default = simple
[help]
	autocorrect = 1
[alias]
	last = cat-file commit HEAD
	commitv = commit -v
	dmerge = merge --no-ff
	unstage = reset HEAD --
[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
 [log]
 	date = local
#[init]
#	templatedir = ~/.git-templates
[status]
	submodulesummary = true
[pull]
[rerere]
	enabled = true
	autoupdate = true
[credential]
	helper = store

